@model JXCProject.Services.DTOs.EmployeeDTO

@{
    ViewBag.Title = "ModifyEmployee";
    Layout = null;
}
<script type="text/javascript">

    $(function () {
        var row = $('#grid').datagrid('getSelected');

        $('#form').form('load', row);

        $('#EmployeDate').datebox({
            formatter: common.getDate
        });
        $('#DismissDate').datebox({
            formatter: common.getDate
        });
        $('#Birthday').datebox({
            formatter: common.getDate
        });

        $('#departmentTree2').combotree({
            url: '@Url.Action("CreateDepartmentTree","Department")'
        });
        $('#departmentTree2').combotree('setValue', row.DeptId);
        $('#Name').val(row.Name);
        $('#ID').val(row.ID);
    })

    function editEmployee() {
        $('#form').form('submit', {
            onSubmit: function (param) {
                $('#DeptId').val($('#departmentTree2').combotree('getValue'));
                var row = $('#grid').datagrid('getSelected');
                param.originalEmployee = JSON.stringify(row);
            },
            success: function () {
                $('#editDialog').dialog("destroy");
                $('#grid').datagrid('reload');
                onSuccess();
            }
        });
    }

    function onSuccess() {
        $.messager.alert("消息", "操作成功!");
    }

</script>
<form id="form" method="post" action="@Url.Action("ModifyEmployee")">
     <table width="100%">
            <tr><td>姓名:</td><td>@Html.TextBoxFor(model => model.Name, new { disabled = "disabled" })@Html.HiddenFor(model=>model.Name)</td>
            <td>部门:</td><td><input id="departmentTree2" value="--请选择--"   style="width:155px;" class="easyui-validatebox"/>
            @Html.HiddenFor(model => model.DeptId)@Html.HiddenFor(model=>model.ID)</td>
            </tr>
            <tr><td>身份证号码:</td>
            <td>@Html.TextBoxFor(model => model.IDCard)</td>
            <td>出生日期:</td>
            <td>@Html.TextBoxFor(model => model.Birthday, new { @class = "easyui-validatebox", validType = "date", style = "width:155px;" })</td>
            </tr>
            <tr><td>名族:</td>
            <td>@Html.TextBoxFor(model => model.Race)</td>
            <td>血型:</td>
            <td><select id="BloodType" name="BloodType" class="easyui-combobox" panelHeight="75">
                <option value="A型血">A型血</option>
                <option value="B型血">B型血</option>
                <option value="O型血">O型血</option>
            </select></td>      
            </tr>
            <tr><td>学历:</td>
            <td><select id="Degree" name="Degree" class="easyui-combobox" panelHeight="165">
            <option value="博士">博士</option>
             <option value="研究生">研究生</option>
              <option value="本科">本科</option>
               <option value="大专">大专</option>
                <option value="中专">中专</option>
                 <option value="高中">高中</option>
                  <option value="初中">初中</option>
                   <option value="小学">小学</option>
            </select></td>
            <td>邮箱:</td>
            <td>@Html.TextBoxFor(model => model.Email)</td>
            </tr>
            <tr><td>地址:</td>
            <td>@Html.TextBoxFor(model => model.Adress)</td>
            <td>开户行:</td>
            <td>@Html.TextBoxFor(model => model.Bank)</td>
            </tr>
            <tr><td>账户:</td>
            <td>@Html.TextBoxFor(model => model.Account)</td>
            <td>状态:</td>
            <td><select id="Status" name="Status" class="easyui-combobox" panelHeight="50"><option value="正常">正常</option><option value="废弃">废弃</option></select></td>
            </tr>
            <tr><td>入职时间:</td>
            <td>@Html.TextBoxFor(model => model.EmployeDate, new { @class = "easyui-validatebox", validType = "date", style = "width:155px;" })</td>
            <td>离职时间:</td>
            <td>@Html.TextBoxFor(model => model.DismissDate, new { @class = "easyui-validatebox", validType = "date", style = "width:155px;" })</td>
            </tr>
            <tr><td>员工类型:</td>
            <td><select id="Type" name="Type" class="easyui-combobox" panelHeight="50"><option value="普通员工">普通员工</option><option value="管理者">管理者</option></select></td>
            <td>备注:</td>
            <td>@Html.TextBoxFor(model => model.Remarks)</td>
            </tr>
            <tr><td>系统登录名:</td>
            <td>@Html.TextBoxFor(model => model.Login)</td>
            <td>登录密码:</td>
            <td>@Html.TextBoxFor(model => model.Password)</td>
            </tr>
            <tr><td>性别:</td><td>@Html.DropDownListFor(model => model.Gender, new List<SelectListItem> { new SelectListItem{ Text="男",Value="男"},new SelectListItem{ Text="女",Value="女"} })</td></tr>
        </table>
 </form>