@model JXCProject.Services.DTOs.ProductDTO
@{
    Layout = null;  
 }

<script type="text/javascript">
    $(function () {
        $('#ProductCategoryId').combotree({ url: '@Url.Action("CreateCategoryTree","ProductCategory")' });
    
        $('#ProductDate').datebox({
            formatter: common.getDate
        });
        $('#ProductDate').datebox('setValue', common.getDate(new Date()));
    });

    function addProduct() {
        $('#formAdd').form('submit', {
            onSubmit: function (param) {
                //if ($('#formAdd').valid()) {
                param.ProductCategoryId = $('#ProductCategoryId').combotree('getValue');
                $('#btnAddProduct').linkbutton('disable');
                //}
            },
            success: function (data) {
                $('#btnAddProduct').linkbutton('enable');
                if (data.length > 0)
                    ShowValidateMessage($.parseJSON(data));
                else
                    $.messager.alert("消息", "操作成功!");
            }
        })
    }

    function ShowValidateMessage(data) {
        for (var i = 0; i < data.length; i++) {
            var $span = $('#tableAdd').find('span[data-valmsg-for=' + data[i].key + ']');
            $span.css('color', 'red').show().text(data[i].errorMessage);
        }
    }

</script>
@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { id="formAdd"}))
{
     <table id="tableAdd" width="100%">
            <tr>
            <td>品种分类:</td>
            <td> <input id="ProductCategoryId" value="--请选择--" style="width:150px;"/>
             @Html.ValidationMessageFor(model => model.ProductCategoryId)
             </td>
             <td>品种名称:</td>
             <td> @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
            </td>
            </tr>
           <tr>
            <td>品种简码:</td>
            <td> @Html.TextBoxFor(o => o.SimpleName)
             @Html.ValidationMessageFor(model => model.SimpleName)
             </td>
             <td>规格:</td>
             <td> @Html.TextBoxFor(model => model.Specification)
            @Html.ValidationMessageFor(model => model.Specification)</td>
            </tr>
            <tr>
            <td>单位:</td>
            <td>@Html.TextBoxFor(model => model.Unit)
             @Html.ValidationMessageFor(model => model.Unit)
             </td>
             <td>采购价:</td>
             <td> @Html.TextBoxFor(model => model.TradePrice)
            @Html.ValidationMessageFor(model => model.TradePrice)</td>
            </tr>
            <tr>
            <td>零售价:</td>
            <td> @Html.TextBoxFor(model => model.RetailPrice)
             @Html.ValidationMessageFor(model => model.RetailPrice)
             </td>
             <td>生产厂家:</td>
             <td> @Html.TextBoxFor(model => model.Producer)
            @Html.ValidationMessageFor(model => model.Producer)</td>
            </tr>
            <tr>
            <td>生产日期:</td>
            <td colspan="3" align="left"> @Html.TextBoxFor(model => model.ProductDate)
             @Html.ValidationMessageFor(model => model.ProductDate)
             </td>
            </tr>
        </table>
}


