@model JXCProject.Services.DTOs.ProductDTO

@{
    Layout = null;
 }

<script type="text/javascript">
    $(function () {
        $('#tableEdit').find('#ProductCategoryId').combotree({ url: '@Url.Action("CreateCategoryTree","ProductCategory")' });

        $('#tableEdit').find('#ProductDate').datebox({
            formatter: common.getDate
        });
    });

    function editProduct() {
        $('#formModify').form('submit', {
            onSubmit: function (param) {
                param.ProductCategoryId = $('#tableEdit').find('#ProductCategoryId').combotree('getValue');
                param.ID = $('#productGrid').datagrid('getSelected').ID;
            },
            success: function (data) {
                if (data.length > 0)
                    ShowValidateMessage($.parseJSON(data));
                else {
                    $('#editProduct').dialog({ closed: true });
                    //刷新修改的行
                    var row = $('#productGrid').datagrid('getSelected');
                    var index = $('#productGrid').datagrid('getRowIndex', row);
                    $('#productGrid').datagrid('updateRow', { index: index, row:
                    {
                        SimpleName: $('#tableEdit').find('#SimpleName').val(),
                        Unit: $('#tableEdit').find('#Unit').val(),
                        TradePrice: $('#tableEdit').find('#TradePrice').val(),
                        RetailPrice: $('#tableEdit').find('#RetailPrice').val(),
                        Specification: $('#tableEdit').find('#Specification').val(),
                        Producer: $('#tableEdit').find('#Producer').val(),
                        ProductDate: $('#tableEdit').find('#ProductDate').datebox('getValue')
                    }
                    });
                    $.messager.alert("消息", "操作成功!");
                }
            }
        })
    }

    function ShowValidateMessage(data) {
        $('#tableEdit').find('span[data-valmsg-for]').text('');
        for (var i = 0; i < data.length; i++) {
            var $span = $('#tableAdd').find('span[data-valmsg-for=' + data[i].key + ']');
            $span.css('color', 'red').show().text(data[i].errorMessage);
        }
    }
</script>

@using (Html.BeginForm("ModifyProduct", "Product", FormMethod.Post, new { id="formModify"}))
{
     <table id="tableEdit" width="100%">
            <tr>
            <td>品种分类:</td>
            <td> <input id="ProductCategoryId" value="--请选择--" style="width:150px;"/>
             @Html.ValidationMessageFor(model => model.ProductCategoryId)
             </td>
             <td>品种名称:</td>
             <td> @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
            </td>
            </tr>
           <tr>
            <td>品种简码:</td>
            <td> @Html.TextBoxFor(o => o.SimpleName)
             @Html.ValidationMessageFor(model => model.SimpleName)
             </td>
             <td>规格:</td>
             <td> @Html.TextBoxFor(model => model.Specification)
            @Html.ValidationMessageFor(model => model.Specification)</td>
            </tr>
            <tr>
            <td>单位:</td>
            <td>@Html.TextBoxFor(model => model.Unit)
             @Html.ValidationMessageFor(model => model.Unit)
             </td>
             <td>采购价:</td>
             <td> @Html.TextBoxFor(model => model.TradePrice)
            @Html.ValidationMessageFor(model => model.TradePrice)</td>
            </tr>
            <tr>
            <td>零售价:</td>
            <td> @Html.TextBoxFor(model => model.RetailPrice)
             @Html.ValidationMessageFor(model => model.RetailPrice)
             </td>
             <td>生产厂家:</td>
             <td> @Html.TextBoxFor(model => model.Producer)
            @Html.ValidationMessageFor(model => model.Producer)</td>
            </tr>
            <tr>
            <td>生产日期:</td>
            <td colspan="3" align="left"> @Html.TextBoxFor(model => model.ProductDate)
             @Html.ValidationMessageFor(model => model.ProductDate)
             </td>
            </tr>
        </table>
}
