@model JXCProject.Services.DTOs.CustomerDTO

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {
        $('#btnAddAddress').click(function () {
            var row = {};
            row.Reciever = $('#reciever').val();
            row.Address = $('#address').val();
            row.Telephone = $('#phone').val();
            row.ZipCode = $('#zipcode').val();

            createAddressGrid();
            $('#addressTable').datagrid('loaded');//隐藏数据正在加载......层
            $('#addressTable').datagrid('appendRow',row);
        })
    })

    function addCustomer() {
        $('#btnAdd').linkbutton('disable');

        var grid = $('#addressTable').datagrid();
        var data = $('#addressTable').datagrid('getData').rows;
        var cst = {};

        for (var i = 0; i < data.length; i++) {
            cst['CustomerAddresses[' + i + '].Reciever'] = data[i].Reciever;
            cst['CustomerAddresses[' + i + '].Address'] = data[i].Address;
            cst['CustomerAddresses[' + i + '].Telephone'] = data[i].Telephone;
            cst['CustomerAddresses[' + i + '].ZipCode'] = data[i].ZipCode;
        }

        cst.SimpleID = $('#SimpleID').val();
        cst.Name = $('#Name').val();
        cst.Address = $('#Address').val();
        cst.Telephone = $('#Telephone').val();
        cst.Zip = $('#Zip').val();
        cst.CstType = $('#CstType').val();

        $.ajax({
            url: '@Url.Action("AddCustomer")',
            type: 'POST',
            data: cst,
            success: function () {
                $('#btnAdd').linkbutton('enable');
                onSuccess();
            }
        })
    }

    function createAddressGrid() {
        $('#addressTable').datagrid({
            width:565,
            columns: [[
                        { field: 'Reciever',width:80, title: '收货人' },
                        { field: 'Address',width:220, title: '地址' },
                        { field: 'Telephone',width:100, title: '电话' },
                        { field: 'ZipCode',width:80, title: '邮编' },
                        { field:'opt', width:40, title: '删除', formatter: function (value, row, index) {
                            var r = '<a href="#" onclick="deleteRow(this)">删除</a>';
                            return r;
                        }
                        }
                    ]]
        });
    }

    function deleteRow(target) {
        $('#addressTable').datagrid('deleteRow', getRowIndex(target));
    }
     
     function getRowIndex(target) {
         var tr = $(target).closest('tr.datagrid-row');
         return parseInt(tr.attr('datagrid-row-index'));
     }

     function onSuccess() {
         $.messager.alert("消息", "操作成功!");
     }    
// 75,15,35
</script>
<form id="form" method="post" action="@Url.Action("AddCustomer")">
    <div id="tt"  class="easyui-tabs" style="width:600px;height:300px;" >
        <div id="div1" title="客户基本信息" closable="true">
            <table width="100%">
            <tr><td>客户类型:</td><td><select id="CstType" name="CstType" class="easyui-combobox" panelHeight="50"><option value="采购客户">采购客户</option><option value="销售客户">销售客户</option></select></td><td>名称:</td><td>@Html.TextBoxFor(model=>model.Name)</td></tr>
            <tr><td>简称:</td><td>@Html.TextBoxFor(model=>model.SimpleID)</td><td>地址:</td><td>@Html.TextBoxFor(model=>model.Address)</td></tr>
            <tr><td>电话:</td><td>@Html.TextBoxFor(model=>model.Telephone)</td><td>邮编:</td><td>@Html.TextBoxFor(model=>model.Zip)</td></tr>
            </table>
        </div>
        <div id="div2" title="客户地址信息" closable="true">
            <table width="100%">
                <tr><td style="width:100px;">收货人:</td><td><input id="reciever" name="reciever"  type="text"/></td>
                <td style="width:100px;">收货地址:</td><td><input id="address" name="address" type="text" /></td></tr>
                <tr><td>电话:</td><td><input id="phone" name="phone"  type="text"/></td>
                <td>邮编:</td><td><input id="zipcode" name="zipcode"  type="text"/></td></tr>
                <tr><td colspan="4" align="center"><a href="#" id="btnAddAddress" class="easyui-linkbutton" >添加</a></td></tr>
                <tr><td colspan="4" align="center"><table id="addressTable"  ></table></td></tr>
            </table>
        </div>
    </div>

</form>