@{
    ViewBag.Title = "Main";
    Layout="~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
     $(function () {
        $('#mbbase').menubutton({ menu: '#base' });
        $('#mbpurchase').menubutton({ menu: '#purchase' });
        $('#mbinstore').menubutton({ menu: '#instore' });
        $('#mbsale').menubutton({ menu: '#sale' });
    })
</script>

<div style="padding:0px 120px 0px 120px;">
    <div style="background:#C9EDCC;padding:5px;">
            <a id="mbbase">基础资料管理</a>
            <a id="mbpurchase">采购管理</a>
            <a id="mbinstore">库存管理</a>
            <a id="mbsale">销售管理</a>
     </div>
     <div id="mainbody" style="margin:5px 1px 1px 0px;">@RenderBody()</div>
   </div>
    <div id="base" style="width:150px;">
        <div><a href="@Url.Action("Index","ProductCategory")">品种分类管理</a></div>
        <div><a href="@Url.Action("Index","Product")">品种管理</a></div>
        <div><a href="@Url.Action("Index","Department")">部门管理</a></div>
        <div><a href="@Url.Action("Index","Employee")">人员管理</a></div>
        <div><a href="@Url.Action("Index","Customer")">客户管理</a></div>
    </div>
    <div id="purchase" style="width:150px;">
        <div><a href="@Url.Action("PurchaseApply","Purchase")">采购单申请</a></div>
        <div><a href="@Url.Action("PurchaseApprove", "Purchase")">采购单审批</a></div>
        <div><a href="@Url.Action("PurchaseManage", "Purchase")">采购单管理</a></div>
    </div>
    <div id="instore" style="width:150px;">
        <div>采购入库</div>
        <div>采购入库查询</div>
        <div>销售出库</div>
        <div>销售出库查询</div>
        <div>库存盘点</div>
    </div>
    <div id="sale" style="width:150px;">
        <div>销售单申请</div>
        <div>销售单管理</div>
        <div>销售统计</div>
    </div>