@model JXCProject.Services.DTOs.PurchaseOpDTO

@{
    ViewBag.Title = "采购单管理";
}

<script type="text/javascript">

    $(function () {
        $('#detailDiv').dialog({ closed: true });
        //初始化品种列表
        $('#productList').combobox({
            valueField: 'ID',
            textField: 'Name'
        });
        loadCustomer();
        loadProudct();

        $('#startDate').datebox({
            formatter: common.getDate
        });

        var startDate = new Date();
        startDate.setMonth(startDate.getMonth() - 6);
        $('#startDate').datebox('setValue', common.getDate(startDate));

        $('#endDate').datebox({
            formatter: common.getDate
        });
        $('#endDate').datebox('setValue', common.getDate(new Date()));
    })

    //加载客户数据
    function loadCustomer() {
        var cstName = tbCstName.value;
        $('#cstList').combobox({
            valueField: 'ID',
            textField: 'Name',
            url: '/Purchase/GetCustomerByName?cstName=' + encodeURI(cstName) + ''
        });
    }

    //加载品种分类和品种数据
    function loadProudct() {
        $('#categoryTree').combotree({
            url: '@Url.Action("CreateCategoryTree","ProductCategory")',
            onSelect: function (record) {
                //加载品种列表数据
                $('#productList').combobox('setValue', '--请选择--');
                $('#productList').combobox('reload', '/Product/LoadProducts?categoryId=' + record.id + '');
            }
        });
    }
    //根据品种分类搜索品种数据
    function searchProduct() {
        var categoryId = $('#categoryTree').combotree('getValue');
        var productName = $('#btnProductName').val();
        $('#productList').combobox('reload', '/Purchase/GetProudct?categoryId=' + categoryId + '&name=' + encodeURI(productName) + '');
    }

    //查询采购单
    function queryPurchaseOp() {
        var lastIndex = -1;
        $('#purchaseGrid').datagrid({
            title: '采购单信息',
            width: 950,
            url: '@Url.Action("GetPageData")',
            collapsible: true,
            pagination: true,
            queryParams: {
                cstId: $('#cstList').combobox('getValue'),
                productId: $('#productList').combobox('getValue'),
                startDate: $('#startDate').datebox('getValue'),
                endDate: $('#endDate').datebox('getValue')
            },
            columns: [[
             { field: 'ck', checkbox: true },
             { field: 'PurchaseOpId', width: 150, title: '采购单号' },
             { field: 'CustomerName', width: 160, title: '采购客户' },
             { field: 'Amount', width: 100, title: '采购金额' },
             { field: 'Appor', width: 100, title: '申请人' },
             { field: 'AppDate', width: 100, title: '申请日期' },
             { field: 'Date', width: 100, title: '采购日期' },
             { field: 'State', width: 40, title: '状态' },
             { field: 'op', width: 90, title: '操作', formatter: function (value, row, index) {
                 var c = '<a href="#" onclick="queryDetail(' + index + ')">查看明细</a>';
                 return c;
             }
             }
            ]],
            toolbar: [
            { id: 'btnRemove', text: '删除采购单', iconCls: 'icon-remove', handler: function () {
                deletePurchaseOp();
            }
            }]
        });
    }

    //查询采购明细
    function queryDetail(index) {
        $('#detailDiv').dialog('open');
        var row = $('#purchaseGrid').datagrid('getRows')[index];

        $('#purchaseOPDetailGrid').datagrid({
            width: 600,
            url: '@Url.Action("GetPurchaseOpDetail")',
            queryParams: {
                purchaseOpId: row.PurchaseOpId
            },
            columns: [[
            { field: 'ProductName', width: 150, title: '采购品种' },
             { field: 'AppQty', width: 70, title: '申请数量' },
             { field: 'AprQty', width: 70, title: '审批数量' },
             { field: 'StkPrice', width: 70, title: '采购单价' },
             { field: 'Amount', width: 70, title: '采购金额' },
             { field: 'RecQty', width: 100, title: '实际收货数量' }
             ]]
        })
    }

    //删除单个采购单
    function deleteSinglePurchaseOp(purchaseOpId, index) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RemovePurchase")',
            data: { PurchaseOpId: purchaseOpId },
            success: function () {
                $.messager.alert("消息", "操作成功!");
            }
        });
        $('#purchaseGrid').datagrid('deleteRow', index);
    }

    //删除采购单(可以多个删除)
    function deletePurchaseOp() {
        common.deleteData('purchaseGrid', '/Purchase/RemovePurchase');
    }
    function onSuccess() {
        $.messager.alert("消息", "操作成功!");
    }

</script>

<table width="100%">
    <tr><td colspan="4" align="center" style="font-size:large;">采购单管理</td></tr>
    <tr><td colspan="4" align="right"><a href="@Url.Action("PurchaseApply")" class="easyui-linkbutton">新增采购单</a></td></tr>
    <tr><td>采购日期:</td><td colspan="3" align="left"><input id="startDate" type="text" />至:<input id="endDate" type="text" /></td></tr>
    <tr>
        <td>采购客户:</td>
        <td>
        <table>
            <tr>
            <td>客户名称:</td><td><input id="cstList" value="--请选择--"  style="width:160px;" /></td>
            <td>客户名称或简码:</td><td>@Html.TextBox("tbCstName")</td><td><a href="#" id="btnSearchCst" class="easyui-linkbutton" iconCls="icon-search" onclick="loadCustomer();">搜索</a></td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td>采购品种:</td>
        <td>
            <table>
                <tr><td>品种分类:</td><td><input id="categoryTree" value="--请选择--"  style="width:160px;" /></td></tr>
                <tr>
                    <td>品种名称:</td><td><input id="productList" value="--请选择--"  style="width:160px;" /></td>
                    <td>品种名称或简码:</td><td>@Html.TextBox("btnProductName")</td>
                    <td><a href="#" id="btnSearchProduct" class="easyui-linkbutton" iconCls="icon-search" onclick="searchProduct();">搜索</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>        
    <td colspan="4" align="center"><a href="#" id="btnQuery" class="easyui-linkbutton" onclick="queryPurchaseOp();">查询</a></td></tr>
    <tr><td colspan="4" align="center"><table id="purchaseGrid"></table></td></tr>
</table>
<div id="detailDiv" class="tabletd" title="采购明细单" style="width:620px;height:300px;" >
    <table id="purchaseOPDetailGrid"></table>
</div>