@model ContosoUniversity.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Student</legend>

    <div class="display-label">LastName</div>
    <div class="display-field">@Model.LastName</div>

    <div class="display-label">FirstMidName</div>
    <div class="display-field">@Model.FirstMidName</div>

    <div class="display-label">EnrollmentDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.EnrollmentDate)</div>


    <div class="display-field">
    <table>
        <tr>
            <th>Course Title</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
              <td>@item.Course.Title</td>
              <td>@item.Grade</td>
            </tr> 
        }
    </table>
</div>


</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>